$preview-size: 134px;
$preview-spacing: 11px;

.main--level {
  justify-content: flex-start;
  padding-top: 210px;

  .main-title {
    margin-bottom: 0.8em;
  }
}

.main-player {
  height: 55px;
  margin-bottom: 80px;
  overflow: hidden;
  width: 530px;
}

.main-list {
  display: flex;
  margin: 140px auto 0;
}

.main-answer-r {
  left: -900em;
  position: absolute;
}

.main-answer {
  box-sizing: border-box;
  color: $color-text-dark;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 5px;
  padding: 0;
  position: relative;
  text-align: center;
  width: $preview-size;
}

.main-answer:hover {
  .main-answer-preview {
    border-color: $color-orange;
  }
}

.main-answer:active {
  .main-answer-preview {
    border-color: red;
  }
}

.main-answer-preview {
  background: $color-beige;
  border: solid 5px $color-text-dark;
  border-radius: $preview-size;
  box-sizing: border-box;
  height: $preview-size;
  margin-bottom: $preview-spacing;
  overflow: hidden;
  width: $preview-size;
}

.game-back {
  position: relative;
  right: 10px;
  top: 30px;
  z-index: 1;
  width: 260px;
}
.game-back::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 25px;
  width: 40px;
  height: 40px;
  background-image: url("../../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  transform: rotate(180deg);
}

.game-back:hover {
  opacity: 0.8;
}
.game-back:active,
.game-back:focus {
  opacity: 0.6;
}

.game-mistakes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
}

@import "genre";
